body {
    font-family: Arial, sans-serif;
    background-color: #105b10c1; /* фон сайта */
    color: #cccaca;
    font-size: 40px;
    margin: 180px;
    text-align: center; /* центрирует весь текст на странице */
}
